#add-success,
#update-success,
#delete-success {
    display: none;
}

#add-success,
#update-success,
#delete-success {
    animation-name: fadeInOut;
    animation-duration: 4s;
}

@-webkit-keyframes fadeInOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}