<app-navbar (cityname)="singleSearch($event)"></app-navbar>
<div class="container" style="margin-top: 50px;">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="sort" (change)="gameSearch(sort)">
        <option value="Name">Name</option>
        <option value="released">Released</option>
        <option value="added">Added</option>
        <option value="created">Created</option>
        <option value="updated">Updated</option>
      </select>
</div>

<div class="games">
  <ng-container *ngFor="let game of games | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: count }; let i = index">
    <div class="game" (click)="openGameDetail(game.id)">
    <div class="game-thumb-container">
      <img *ngIf="game.background_image" src="{{game.background_image}}" alt="thumbnail" class="game-thumbnail"/>
      <p *ngIf="!game.background_image">NO IMAGE AVAILABLE</p>
    </div>
    <div class="game-description">
      <p class="game-name">{{game.name}}</p>
      <div class="game-platform">
        <img *ngFor="let gamePlatform of game.parent_platforms" class="game-platform" src="../../../assets/{{gamePlatform.platform.slug}}.png" alt="{{gamePlatform.platform.slug}}"/>
      </div>
    </div>
    </div>
  </ng-container>
</div>
<div>
  <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>
</div>
<br>

