<app-navbar></app-navbar>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{userName}}</span><span class="text-black-50">{{userName}}@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5" *ngFor="let u of user">
                <form>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h1 class="text-right">Profile Settings</h1>
                    </div>
                    <div class="row mt-2">
                        <input type="text" class="form-control" placeholder="first name" value="{{u.id}}" hidden #idChange>
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value="{{u.userName}}" #usernameChange></div>
                    </div>
                    <div class="row mt-2">
                        
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">role</label>
                        <select class="form-select" aria-label="Default select example" #roleChange>
                            <option value="{{u.role}}" selected>{{u.role}}</option>
                            <option *ngIf="u.role == 'user'" value="admin">admin</option>
                            <option *ngIf="u.role == 'admin'" value="user">user</option>
                          </select>
                        </div>
                        <!-- <div class="col-md-12"><label class="labels">role</label><input type="text" class="form-control" placeholder="role" value="{{u.role}}" #roleChange></div> -->
                        <div class="col-md-12"><label class="labels">password</label><input type="text" class="form-control" placeholder="password" value="{{u.password}}" #passwordChange></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" (click)="updateProfile(u.id)">Save Profile</button></div>
                </form>
            </div>
        </div>
    </div>
</div>

